.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

</style></head><body><div class="hero-image"><div class="hero-text"><h1 style="font-size:50px">I am John Doe</h1><p>And I'm a Photographer</p>
<button>Hire me</button></div></div><p>Page Content.</p></body></html>
